<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tyche</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
  <link rel="stylesheet" media="all" href="css/angular-timeline-animations.css">
  <link rel="stylesheet" media="all" href="css/angular-timeline-bootstrap.css">
  <link rel="stylesheet" media="all" href="css/angular-timeline.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/html2canvas.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-timeline.js"></script>
  <script src="controllers/app.controller.js"></script>
</head>


  <body ng-app="myApp" ng-controller="myCtrl">
  <div class="container-fluid">
   <div class="row">
	<img src="/img/back.png" class=" col-xs-12 img-responsive">
   </div>
</div>
    <div class="container">
	    	<div class="col-xs-9">
				<H2 ng-click="pageImage()">Luv SINGH <small><br>Linux and Web full stack developer</small></H2>
			</div>
	    	<div class="col-xs-3 blueback">
			</div>

		<div class="col-xs-9" style="height:20px;">
		</div>
		<div class="col-xs-3 blueback" style="height:20px;">
		</div>
	</div>
    <div class="container">
    	<div ng-include="'fragments/info.html'">
    	</div>
	  	<!-- TWO -->
	  	<div class="col-xs-5">
	  		<timeline>
		        <timeline-event ng-repeat="event in events" side="right">
		          <timeline-badge class="{{event.badgeClass}}">
		            <!-- <i class="glyphicon {{event.badgeIconClass}}"></i> -->
		            <span>2001</span>
		          </timeline-badge>
		          <timeline-panel class="{{event.badgeClass}}">
		            <timeline-heading class="singleline">
		              <h4>{{event.title}}</h4>
		            </timeline-heading>
		            <p class="singleline">{{event.company}}</p>
		            <p class="singleline">{{event.place}}</p>
		          </timeline-panel>
		        </timeline-event>
    		</timeline>


	  	</div>
	  	<div class="col-xs-3 blueback" id="fullpage">
	  		three
	  	</div>
	</div>
  </body>

</html>