    <div class="col-xs-3 blueback" id="fullpage">
        <H3><small>ABOUT ME</small></H3>
        <p>With over 7 years of experience in different domains across organisations that are world leaders, I have recently upgraded my skill as a full stack web developer to add to my experience as an embedded Linux Engineer. I am looking for new opportunities and the areas of keen interest are machine learning, Internet of Things, AI.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <H3><small>REFERENCES</small></H3>
        <B>Randall Fields<B>
		<B>Project manager at Qualcomm</B>
        <p>some number</p>
        <B>Ravi Dhanshetty<B>
			<B>Team Lead at Dell</B>
        <p>some number</p>
    </div>