<div>

		<div class="col-xs-9">
			<H2>{{cv.name}}<small><br>{{cv.summary}}</small></H2>
		</div>
		<div class="col-xs-3 blueback">
		</div>

		<div class="col-xs-9" style="height:20px;">
		</div>
		<div class="col-xs-3 blueback" style="height:20px;">
		</div>

	    <div class="col-xs-4">
        			<table class="table bordered striped">
        				<caption>PERSONAL</caption>
				        <tr>
				        	<td class="col-xs-1 text-center">
								<i class="fa fa-phone-square" aria-hidden="true"></i>
				        	</td>
				            <td class="col-xs-3">{{cv.phone}}</td>
				        </tr>
				        <tr>
				        	<td class="col-xs-1 text-center">
								<i class="fa fa-envelope" aria-hidden="true"></i>
				        	</td>
				            <td class="col-xs-3">{{cv.email}}</td>
				        </tr>
				        <tr>
				        	<td class="col-xs-1 text-center">
								<i class="fa fa-language" aria-hidden="true"></i>
				        	</td>
				            <td class="col-xs-3">{{cv.languages}}</td>
				        </tr>
				        <tr>
				        	<td class="col-xs-1 text-center">
				        		<i class="fa fa-map-marker" aria-hidden="true"></i>
				        	</td>
				        	<td class="col-xs-3">{{cv.address}}</td>
				        </tr>


				        <tr>
				        	<td class="col-xs-1 text-center">
				        		<i class="fa fa-linkedin-square"></i>
				        	</td>
				        		<td class="col-xs-3">{{cv.linkedin}}</td>
				        </tr>
				        <tr>
				        	<td class="col-xs-1 text-center">
				        		<i class="fa fa-github"  aria-hidden="true"></i>
				        	</td>
				        		<td class="col-xs-3">{{cv.github}}</td>
				        </tr>
			        </table>

			        <!-- Work experience -->
        			<table class="table bordered striped">
        			<caption>WORK EXPERIENCE</caption>
				        <tr>
				        	<td class="col-xs-1 text-center">
				        		Total
				        	</td>
				            <td class="col-xs-3">{{cv.experience}}</td>
				        </tr>
				        <tr>
				        	<td class="col-xs-1 text-center">
				        		Currently
				        	</td>
				            <td class="col-xs-3">{{cv.designation}}</td>
				        </tr>
			        </table>
					<!-- Education -->
					<table class="table bordered striped">
        			<caption class="info">EDUCATION</caption>
				        <tr ng-repeat="d in cv.education">
				        	<td class="col-xs-1 text-center">
				        		{{d.degree}}
				        	</td>
				            <td class="col-xs-3">
				            	{{d.university}}
				            </td>
				        </tr>
			        </table>

        			<table class="">
        				<caption>SKILLS</caption>
				        <tr ng-repeat="s in cv.skills">
				        	<td class="col-xs-1 text-center skilltable">
				        		{{s.skill}}
				        	</td>
				            <td class="col-xs-3 skilltable">
				            	 <div class="progress">
									<div class="progress-bar" role="progressbar" ng-style="{width: s.proficiency + '%'}">
									</div>
								</div>
				            </td>
				        </tr>
				        	<td class="col-xs-1 text-center">
				        		<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
				        	</td>
				        	<td class="col-xs-3">
				        		<kbd ng-repeat="s in cv.extraskills">{{s.skill}}</kbd>
				            </td>
				        <tr>
				        </tr>
			        </table>
			        <div id="heightmarker1" class="heightmarker"></div>
	  	</div>
</div>	  	