    <div class="col-xs-5">
        <timeline>
            <timeline-event ng-repeat="event in events" side="right">
                <timeline-badge class="{{event.badgeClass}}">
                    <!-- <i class="glyphicon {{event.badgeIconClass}}"></i> -->
                    <span>{{event.year}}</span>
                </timeline-badge>
                <timeline-panel class="{{event.badgeClass}}">
                    <timeline-heading class="singleline">
                        <h4>{{event.title}}</h4>
                    </timeline-heading>
                    <p class="singleline">{{event.company}}</p>
                    <p class="singleline">{{event.place}}</p>
                </timeline-panel>
            </timeline-event>
        </timeline>
        <div id="heightmarker2" class="heightmarker"></div>
    </div>